<h1>Listing businesses</h1>

<table>
  <thead>
    <tr>
      <th>Dba name</th>
      <th>Aka name</th>
      <th>License</th>
      <th>Facility type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.dba_name %></td>
        <td><%= business.aka_name %></td>
        <td><%= business.license %></td>
        <td><%= business.facility_type %></td>
        <td><%= link_to 'Show', business %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>
