<p id="notice"><%= notice %></p>

<p>
  <strong>Dba name:</strong>
  <%= @business.dba_name %>
</p>

<p>
  <strong>Aka name:</strong>
  <%= @business.aka_name %>
</p>

<p>
  <strong>License:</strong>
  <%= @business.license %>
</p>

<p>
  <strong>Facility type:</strong>
  <%= @business.facility_type %>
</p>


<%= link_to 'Back', businesses_path %>
