<% @results.each do |result| %>
	<h3><%= link_to(result[0].to_s, result[3], :target => "_blank") %><br>
		<%= image_tag result[1] %></h3>
	<% result[2].each do |inspection| %>
		<%= inspection[0].to_s + ": " %>
		<% if (inspection[1].include?("Fail") || inspection[1].include?("Condition") ) %>
			<%= link_to(inspection[1], "/inspections/#{inspection[3]}") %>
		<% else %>
			<%= inspection[1] %>
		<% end %><br>
	<% end %><br>
<% end %>